<div class="container">
        <div class="container-fluid" id="charactersContainer">
            <div class="row" data-bind="foreach: { data: orderedCharacters, as: 'character' }">
                <div class="profile" data-bind="css: $parent.columnMode, attr:{id: character.id}">
                    <div class="character">
                        <div class="character-box" data-bind="style: { backgroundImage: background }">
                            <div class="emblem" data-bind="style: { backgroundImage: icon }"></div>
                            <div class="class" data-bind="text: classType"></div>
                            <div class="level" data-bind="text: level"></div>
                        </div>
                    </div>
                    <div class="inventory">
                        <div class="items" data-type="item">
                            <div data-bind="visible: $root.activeView() == 1 || $root.activeView() == 0">
                                <div class="title" data-bind="visible: $root.searchKeyword() == ''"><strong>Weapons</strong> (<span data-bind="text: character.weapons().length"></span>/<span data-bind="text: character.id == 'Vault' ? 36 : 30"></span>)</div>
                                <div class="sections" data-bind="template: { name: 'sections-template', foreach: ['Primary','Special','Heavy'], as: 'bucketType' }"></div>
                            </div>
                            <div style="display:none" data-bind="visible: $root.activeView() == 2 || $root.activeView() == 0">
                                <div class="title" data-bind="visible: $root.searchKeyword() == ''"><strong>Armor</strong> (<span data-bind="text: character.armor().length"></span>/<span data-bind="text: character.id == 'Vault' ? 24 : 50"></span>)</div>
                                <div class="sections" data-bind="template: { name: 'sections-template', foreach: ['Helmet','Gauntlet','Chest', 'Boots','Class Items'], as: 'bucketType' }"></div>
                            </div>
                            <div style="display:none" data-bind="visible: ($root.activeView() == 3 || $root.activeView() == 0) && character.id !== 'Vault'">
                                <div class="title" data-bind="visible: $root.searchKeyword() == ''"><strong>Sub Classes</strong></div>
                                <div class="sections" data-bind="template: { name: 'sections-template', foreach: ['Subclasses'], as: 'bucketType' }"></div>
                            </div>
                            <div style="display:none" data-bind="visible: $root.activeView() == 3 || $root.activeView() == 0">
                                <div class="title" data-bind="visible: $root.searchKeyword() == ''"><strong>General</strong> (<span data-bind="text: character.general().length"></span>/<span data-bind="text: character.id == 'Vault' ? 24 : 70"></span>)</div>
                                <!-- Consumables = 15 Materials = 15 Shader = 10 Emblem = 10 Ship = 10 Sparrow = 10 so 70 -->
                                <div class="sections" data-bind="template: { name: 'sections-template', foreach: ['Consumables','Materials', 'Shader','Emblem','Ship','Sparrow'], as: 'bucketType' }"></div>
                            </div>
                            <div style="display:none" data-bind="visible: ($root.activeView() == 3 || $root.activeView() == 0) && character.id !== 'Vault'">
                                <div class="title" data-bind="visible: $root.searchKeyword() == ''"><strong>Post Master</strong> (<span data-bind="text: character.postmaster().length"></span>/20)</div>
                                <div class="sections" data-bind="template: { name: 'sections-template', foreach: ['Post Master'], as: 'bucketType' }"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ko if: $index() == 1 -->
                <div class="clearfix hidden-xs visibile-sm-block hidden-md hidden-lg"></div>
                <!--/ko  -->
                <!-- ko if: $index() == 2 -->
                <div class="clearfix hidden-xs hidden-sm visibile-md-block hidden-lg"></div>
                <!--/ko  -->
            </div>
        </div>
    </div>
